@media (max-width: 768px) {

    .componente {
        width: 300px;
    }

    .qrcode {
        width: 270px;
        height: 270px;
    }

    .titulo {
        font-size: 19px;
    }

    .paragrafo {
        font-size: 14px;
    }
}